.form {
    display: flex;
    flex-direction: column;
}

.formList {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    align-items: center;
}

.button {
    margin: 5px;
}

h4 {
    margin: 0;
}